{% block content %}
<h1>Site Home</h1>

  <p>welcome to <em>BP Site</em>, a basic Django website </p>
  <p>The site has following pannels to show:</p>
  <br>
  <ul>
    <h4>if you are a student, click here</h4>
    <li><strong><a href= "students/">STUDENT_MENU</a></strong></li>
    <br>
    <hr>
    <br>
    <h4>if you are a teacher, click here</h4>
    <li><strong><a href="teachers/">TEACHER_MENU</a></strong></li>
    <br>
    <hr>
    <br>
    <li><strong><a href="admin/">ADMIN_MENU</a></strong></li>
    <br>
    <hr>
    <br>
    <li><a href="login/">LOGIN</a></li>
    <br>
    <li><a href="logout/">LOGOUT</a></li>
  </ul>


{% endblock %}
